<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Wallet</title>
</head>
<body>
    <h3>voting</h3>
    <input type="text" id="userKey" placeholder="투표비밀번호 입력해 주세요">
    <button id="create">create</button>
    <h3>Here is your Wallet</h3>
    <p id="address">address: </p>
    <p id="txHash">txHash: </p>
    <button id="logout">logout</button>
</body>
<!--jqeury-->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- source file-->
<script type="text/javascript" src="js/wallet.js"></script>
</html>